@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400;1,500&family=Imprima&family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,300;1,600&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,500&family=Yanone+Kaffeesatz:wght@600&display=swap');
*{
	font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Imprima', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
}
*{
	margin: auto 0px;
	padding: 0px;
	justify-content: space-between;
	box-sizing: border-box;
}
nav{
	align-items: center;
	width: 100;
	padding: 2%;
	height: 100px;
	overflow: auto;
	background: black;
}

table, th, td{
	background-color: black;
	color: white;
	padding: 20px;
	font-size: 16;
	text-align: center;
	border: 1px solid #FFFEFA;
	border-collapse: collapse;
	justify-content: space-between;
	align-items: center;
	border-spacing: 0px;
	text-align: center;
	flex-direction: column;
}

ul{
	padding: 0;
	margin: 0 0 0 250px;
	list-style: none;
	padding-right: 6%;
}
li{
	float: right;
}
li a{
	width: 100px;
	display: block;
	padding: 15px 15px;
	text-decoration: none;
	font-family: arial;
	color: black;
	text-align: center;
}
.logo img{
	position: absolute;
	margin-top: 25px;
	margin-left: 100px;
	pading-left: 9%;
}
h2{
	text-align: center;
	background-color: black; 
	color: white;
	width: 100%; height; auto;
	padding-bottom: 40px;
	padding-top: 0px;
}
main{
	background-color: black;
	background-color: black; padding-top: 0.5px;
}
footer{
	background-color: black; 
	text-align: center; 
	color: white;
	padding: 2px;
	padding-left: 20%;
	padding-right: 10%;
}
.box1{
	text-align: center;
	padding-left: 20%;
	padding-right: 10%;
	padding-bottom: 2%;
	align-items: center;
}
.container2 a{
	display: flex;
	padding: 15%;
	text-align: center;
	align-items: center;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	width: 100%;
	border: 1px solid white;
	background-color: black;
	color: white;
	border-radius: 15px;
}